*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: inherit;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header{
    width: 100%;
    padding: 30px 0;
    background-color: #FFFFFF;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper__menu ul{
    display: flex;
    list-style: none;
}

.header-wrapper__logo{
    display: block;
}

.header-wrapper__menu{
    display: block;
}

.header-wrapper__logo a{
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
	text-decoration: none;
}

.header-wrapper__logo p{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    text-decoration: none;
    padding-top: 10px;
}

ul a.active{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
    border-bottom: solid 3px #F1CDB3;
}

.header-wrapper__menu a{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #292929;
	text-decoration: none;
    margin-right: 35px;
}

.header-wrapper__menu li:last-child a{
    margin-right: 0;
}

.menu-icon{
	display: none;
}

main{
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    /* position: relative; */
    /* bottom: 180px; */
}

.hero-wraper{
	background: url(../image/puppy.png) no-repeat right bottom;
    bottom: 180px;
    height: 908px;
}

.hero__title{
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    color: #FFFFFF;
    padding-top: 343px;
    width: 27.08%;
    margin-bottom: 42px;
}

.hero__text{
	font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    align-items: center;
    color: #CDCDCD;
    width: 38.33%;
    margin-bottom: 42px;
}

.friend{
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 41px;
}

.about-wraper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about{
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__title{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
}

.about__text{
    width: 35.83%;
}

.about__text1{
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 25px;
}

.about__img{
    background-image: url(../image/about-pets.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 408px;
    display: block;
}

.pets{
    background-color: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;

}

.pets-wraper{
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
}

.pets-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pets__title{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 410px;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

.pets img{
    height: 270px;
}

.pets__card p{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.06em;
}

.learn{
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: block;
    padding: 15px 45px 15px 45px;
    text-align: center;
    width: 200px;
    /* justify-content: center;  */
    margin: auto;
}

.learn:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets__card{
    background-color: #FAFAFA;
    max-width: 270px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.pets__card:hover{
    background-color: #FFFFFF;
}

.pets__centr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.pets__left{

    padding-right: 53px;
}

.pets__right{

    padding-left: 53px;
}

.butt-left img{
    width: 14px;
    height: 6px;
}

.butt-left{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
}

.butt-right img{
    width: 14px;
    height: 6px;
    transform: rotate(180deg);
}

.butt-right{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
}

.centrbut{
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    display: grid;
    align-items: center;
    text-align: center;
}

.rest1{
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.rest2{
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.rest3{
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.rest4{
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.navigation{
    padding-top: 75px;
    text-align: center;
    margin: auto;
    max-width: 340px;
    display: flex;
    justify-content: space-around;
}

.help{
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 100px;
}

.left-l{
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    display: inline-block;
}

.left{
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    display: inline-block;
}

.right{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    display: inline-block;
}

.right:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.right-r{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #CDCDCD;
    display: inline-block;
}

.right-r:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.help__title{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 308px;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.help-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list{
    max-width: 270px;
    margin-top: 55px;
    display: block;
    margin-right: 60px;
    margin-left: 60px;
}

.list img{
    height: 60px;
    display: block;
    margin: auto;
}

.list p{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 60px;
}

.donation{
    background-color: #F6F6F6;
    padding-top: 81px;
    padding-bottom: 101px;
}

.don-content{
    max-width: 56.41%;
}

.donation-wraper{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.information{
    max-width: 43.58%;
}

.don-content img{
    width: 505px;
    padding-right: 20px;
}

.donation__title{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 300px;
    text-align: left;
    padding-bottom: 20px;
}

.donation__sub{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 314px;
    text-align: left;
    padding-bottom: 20px;
}

.credit-card p{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-left: 45px;
}

.credit-card{
    background: url(../image/credit-card.svg) no-repeat;
    background-position: 15px;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.italic{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    width: 380px;
}

footer{
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
}

.footer-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-image: url(../image/footer-puppy.png);
    background-repeat: no-repeat;
    background-position: right bottom; */
    padding-top: 56px;
}

.footer__img{
    width: 300px;
}

.footer__img img{
    background-repeat: no-repeat;
}

.contacts{
    width: 300px;
    /* margin-right: 160px; */
}

.location{
    width: 300px;
    /* margin-right: 160px; */
}

.footer__title{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: left;
}

.mail__text{
    margin-top: 40px;
}

.phone__text{
    margin-top: 40px;
}

.map__text{
    margin-top: 34px;
}

.map__text1{
    margin-top: 32px;
}

.mail__text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    background-image: url(../image/mail.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
    line-height: 32px;
    padding-left: 60px;
}

.phone__text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    background-image: url(../image/phone.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
    line-height: 32px;
    padding-left: 60px;
}

.map__text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    background-image: url(../image/pin.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 46px;
    padding-left: 42px;
}

.map__text1 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    background-image: url(../image/pin.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 32px;
    line-height: 32px;
    padding-left: 42px;
}




/* ---------- lesson 8 ------------ */

/* Адаптив */

@media (max-width: 1230px){
	.container{
		max-width: 95%;
	}
} 

@media (max-width: 1200px){
    .pets-content div:last-child{
        display: none;
    }

    .pets-content div:nth-last-child(-n + 2){
        display: none;
    }

    .pets-content{
        justify-content: space-around;
        width: auto;
    }
}


@media (max-width: 980px){
    .footer-wrapper{
        flex-wrap: wrap;
    }

    footer .footer-wrapper .contacts, footer .footer-wrapper .location{
        width: 50%;
    }

    footer .footer-wrapper .footer__img{
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }

    .pets-content{
        width: auto;
        justify-content: space-around;
        
    }

} 


@media (max-width: 780px){
    .pets-content{
        justify-content: space-evenly;
    }

    

} 

@media (max-width: 680px){

    .header-wrapper__logo{
        margin-left: 20px;
    }

	.menu-icon{
		display: inline-block;
		margin-right: 50px;
        color: #F1CDB3;
	}

	.header-wrapper__menu{
		display: none;
	}

    .pets__title{
    font-size: 25px;
    }

    .pets-content div:nth-last-child(-n + 4){
        display: none;
    }

    .header-wrapper__menu{
		display: none;
	}
}

@media (max-width: 650px){

    .header-wrapper__logo{
        margin-left: 20px;
    }

	.menu-icon{
		display: inline-block;
		margin-right: 50px;
        color: #F1CDB3;
	}

	.header-wrapper__menu{
		display: none;
	}

    .pets__title{
    font-size: 25px;
    }

    .pets-content div:nth-last-child(-n + 4){
        display: none;
    }

    .header-wrapper__menu{
		display: none;
	}
}

@media (max-width: 600px){

    .pets-content div:nth-last-child(-n + 5){
        display: none;
    }


    .pets__left{
        margin-right: 10px;
    }

    .pets__right{
        margin-left: 10px;
    }

    .italic{
        width: 320px;
    }

    .pets__left{
        margin-left: 20px;
        margin-right: 0;
    }

    .pets__right{
        margin-left: 0;
        margin-right: 20px;
    }    

    .hero__title, .about__title, .pets__title, .help__title, .donation__title{
        font-size: 25px;
    }

    .list{
        margin-top: 40px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .list p{
        padding-top: 30px;
    }

    .footer-wrapper{
        justify-content: center;
        padding-top: 30px;
    }

    footer .footer-wrapper .contacts, footer .footer-wrapper .location{
        width: 60%;
        /* text-align: center; */
        padding-top: 60px;
    }


}

@media (max-width: 430px){
 
    .pets__title{
        width: 100%;
    }

    .menu-icon {
        margin-right: 25px;
    }

    footer .footer-wrapper .contacts, footer .footer-wrapper .location {
        width: 100%;
        /* text-align: center; */
        padding-top: 60px;
    }
}